{% extends "base.html" %}

{% block content %}
<div class="container py-4">
    <h2 class="mb-4">Main Panel</h2>

    {% include "dashboard/partials/catalog_list.html" with title="Machines" items=machines row_template="dashboard/partials/machine_row.html" %}


    <button type="button" class="btn btn-success" onclick="openAddMachineModal()">Add machine</button>

    {% include "dashboard/partials/modal_add_machine.html" %}

    <div class="mt-5">
        <h4 class="text-muted">Site in progress</h4>
    </div>
</div>


    <!-- ============================Button scripts for modal handling ======================================== -->
    {% load static %}
    
    <script>
      const machineFormUrl = "{% url 'machine_form' %}";
      const sensorFormUrl = "{% url 'sensor_form' 0 %}";
    </script>

    <script src="{% static 'dashboard/dashboard.js' %}"></script>
    <script src="{% static 'machine_modal/machine_modal.js' %}"></script>
    <script src="{% static 'sensor_modal/sensor_modal.js' %}"></script>



    <!-- ====================================================================================================== -->

{% endblock %}
